{: _header.html}
<section id="message"></section>
<section id="error"></section>
<section id="shoppingCard">
  <div id="emptyCard">
    <h1>Your Shopping Cart is empty ;(</h1>
    <p>
    Your Shopping Cart lives to serve. Give it purpose--fill it with delicious pizzas. If you already have an account, Sign In to see your Cart.<br />
    Continue shopping on the <a href="/">Pizza Mama homepage</a>.
    <p>
  
    <p>
    The price and availability of items at <a href="/">Pizza Mama</a> are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price.
    </p>
  </div>
  <div id="card">
    <table id="cardList" cellspacing="0" cellpadding="0">
      <tr>
        <th colspan="2">Product</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </table>
    <div class="formWrapper">
      <form id="order" action="/api/v1/orders" method="POST">
        <input type="hidden" name="_method" value="POST"/>
        <div class="formError"></div>
        <div class="inputWrapper ctaWrapper">
          <button type="submit" class="cta red">Order &amp; Enjoy</button>
        </div>
      </form>
    </div>
  </div>
</div>
{: _footer.html}
