{: _header.html}
<section id="menuNotLoaded" class="blurb">
  Mama's Pizza is the best place in the univers to order pizzas. If you want to eat one of our famous "BBQ Chicken Feast" or "Canadian Pizza", <a href="/signup">create an account</a> now or, if you already had the chance to order, <a href="/signin">log in</a> !!!
</section>
<section id="message"></section>
<section id="error"></section>
<section id="products">
</section>
{: _footer.html}
