{: _header.html}
<div id="userSettings">
  <h1>Account Settings</h1>

  <hr />

  <h2>Edit your account details</h2>

  <div class="formWrapper">
    <form id="accountEdit1" action="/api/v1/users" method="PUT">
      <input type="hidden" name="_method" value="PUT"/>
      <div class="formError"></div>
      <div class="formSuccess">Your Changes Have Been Saved</div>
      <input class="hiddenEmailInput"  type="hidden" name="email" />
      <div class="inputWrapper">
        <div class="inputLabel">Email</div>
        <input class="disabled displayEmailInput" type="text" name="displayEmail" disabled />
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Full name</div>
        <input class="fullNameInput" type="text" name="fullName" placeholder="John" />
      </div>
      <div class="inputWrapper">
        <div class="inputLabel">Address</div>
        <textarea class="addressInput" name="address" placeholder="8775 Hanover St.
New City, NY 10956"></textarea>
      </div>
      <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta green">Save Changes</button>
      </div>
    </form>
  </div>

  <hr />
  <h2>Change Your Password</h2>
  <div class="formWrapper">
    <form id="accountEdit2" action="/api/v1/users" method="PUT">
      <input type="hidden" name="_method" value="PUT"/>
      <div class="formError"></div>
      <div class="formSuccess">Your New Password Has Been Saved</div>
      <input class="hiddenEmailInput"  type="hidden" name="email" />
      <div class="inputWrapper">
        <div class="inputLabel">Choose a New Password</div>
        <input type="password" name="password" placeholder="Make it a good one!" />
      </div>
      <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta green">Change password</button>
      </div>
    </form>
  </div>

  <div id="previousOrders">
    <hr />
    <h2>Your previous orders</h2>
    <table id="orderList" cellspacing="0" cellpadding="0">
      <tr>
        <th>Date</th>
        <th>ID</th>
        <th>Content</th>
        <th>Price</th>
      </tr>
    </table>
  </div>

  <hr />
  <h2>Delete Your Account</h2>
  <div class="formWrapper">
    <form id="accountEdit3" action="/api/v1/users" method="DELETE">
      <input type="hidden" name="_method" value="DELETE"/>
      <div class="formError"></div>
      <div class="warning">Warning: This action cannot be undone. Dont click this button on accident!</div>
      <input class="hiddenEmailInput"  type="hidden" name="email" />
      <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta red">Delete account</button>
      </div>
    </form>
  </div>
</div>
{: _footer.html}
